body {
    overflow-x: hidden;
    /*禁用横向滚动条*/
    width: 100%;
    height: 100%;
}
/*隐藏滚动条*/
::-webkit-scrollbar {
  display: none;
  background-color: #cfcfcf;
}
.loginIn {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("../../IMAGE/Loginon/loginB.png");
}

.loginB1 {
    /*css图层穿透！！！！！*/
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none; /*这个最有用！*/
    float: left;
    z-index: 50;
    right: 0px;
    width: 50%;
    height: 50%;
    transform: scale(1);
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../IMAGE/Loginon/loginB1.png");
}

.loginInBox {
    position: absolute;
    width: 30vw;
    height: 60vh;
    top: 22vh;
    right: 28vw;
    background-color: rgba(61, 61, 61, 0.8);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1) inset,3px 4px 5px rgba(0, 0, 0, .5);
    transform: translateY(0px);
}

.goback {
    z-index: 888;
    border-radius: 10px;
    cursor: pointer;
    top: 7%;
    left: -3rem;
    position: absolute;
    background-color: #2a4a34;
    width: 5rem;
    height: 2rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    transition: left ease .7s, box-shadow ease .7s;
}

.goback:hover {
    left: -3.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}

.el-icon-arrow-left {
    position: absolute;
    top: .4rem;
    font-size: 1.2rem;
    color: #cfcfcf;
}

.Login_logon {
    margin-top: 4%;
    margin-left: 12%;
}

.logBar {
    border-radius: 10pt;
    padding: 2%;
    float: left;
    background-color: #cfcfcf;
    font-size: 2.5em;
    font-weight: bold;
    color: #000000;
    transform: translateY(0px);
    transition: transform ease .3s;

}

.logBar:hover {
    transform: translateY(-3px);
}

.logonBar {
    position: absolute;
    z-index: -1;
    margin-top: 3%;
    margin-left: 10%;
}

.active1 {
    z-index: 1;
    color: #cfcfcf;
    background-color: rgba(42, 74, 52, .6);
    box-shadow: 0 5px 5px rgba(0,0,0,.5);
    backdrop-filter: blur(20px);
}


